@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto:wght@300&display=swap');

:root {
    --color1: #1F271B;
    --color2: #F3FCF0;
    --color3: #5A9367;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: Oxygen, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 0.5rem;
    margin: 0.5rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}
.btn-box {
    width: 25%;
    min-width: 200px;
    margin: 20px auto;
}
.btn {
    padding: .75rem .5rem;
    background-color: var(--color1);
    border-radius: 15px;
    color: var(--color2);
    text-align: center;
}

.btn span {
    position: relative;
    color: var(--color2);
    margin: .3rem;
}

.btn span::after {
    content: "";
    position: absolute;
    background-color: var(--color3);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.2s;
}

.btn span:hover::after {
    width: 100%;
}

.center {
    text-align: center;
}

.prayer {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.prayers {
    display: flex;
    flex-direction: column;
    align-items: center;
}